<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login - TicketBooth</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <div class="login-outer">
            <div class="login-inner">
                <h2>Login as {{user_type}}</h2>
                <form action="/loginAction" method="POST">
                    <input type="text" name="email" placeholder="email" required>
                    <input type="password" name="password" placeholder="password" required>
                    <input type="hidden" name="user_type" value="{{user_type}}">
                    <input type="submit" value="Login">
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{error}}</p>
                    {% endif %}
                </form>
                <a href="/signup?user_type={{user_type}}">Sign Up</a>
            </div>
        </div>
    </body>
</html>